<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SI Army knife</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="site-header">
        <h1>SI Army knife 3.0</h1>
    </header>

    <main>
        <br><br>
        <br><br>
        <br><br>
        <label><b>Choose a tool for action:</b></label>
        <form action="/submit"  method = "POST">
        <select name="Tools" id="Toolsoption">
            <option value="Performance">Performance</option>
            <option value="Memory profiling">Memory profiling</option>
            <option value="Timestamps">Timestamps</option>
            <option value="Log Details">Log Details</option>
        </select>
        <br><br>
         <input class="rounded-button" type="submit" value="submit" >
        </form>
    </main>
    <!-- Link to the external JavaScript file 
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    -->
    <footer class="site-footer">
        <p>&copy; 2024 System integration team. All rights reserved.</p>
    </footer>
</body>
</html>